{% include 'top.html' %}
<div id="content">
    <div id="container">
    
        <h1 class="page-title">Search Staff by Department</h1>
        <form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('search_staff') }}">
            <input type="text" name="department" placeholder="Department" required>
            <input class="pure-button pure-button-primary" type="submit" value="Search">
        </form>
        
        {% if staff != None %}
            <br>
            <table class="pure-table">
                <thead>
                    <tr><th>ID</th><th>Name</th><th>Department</th><th>Address</th></tr>
                </thead>
                <tbody>
                        {% for s in staff %}
                            <tr>
                                <td> {{s[0]}}</td>
                                <td> {{s[1]}} </td>
                                <td> {{s[2]}} </td>
                                <td> {{s[3]}} </td>
                            </tr>
                        {% endfor %}   
                </tbody>
            </table>
        {% endif %}
        
    </div>
</div>
</body>
</html>

